{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="{% static 'images/favicon_1.ico' %}">
    </head>
    <body>
        <!-- HOME -->
        <section>
            <div class="container-alt">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="home-wrapper">
                            <h1 class="icon-main text-warning m-b-25"><i class="md md-warning"></i></h1>
                            <h2 class="home-text text-uppercase">COMING SOON</h2>
                            <h4>지금 페이지는 현재 준비중입니다. 나중에 다시 방문해 주세요.</h4>
                        </div>
                    </div>
                </div>
            </div>
          </section>
          <!-- END HOME -->
    </body>
</html>